<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Plaid Quickstart 012921 0634</title>
  <link rel="stylesheet" href="https://threads.plaid.com/threads.css" />

  <link rel="stylesheet" type="text/css" href="css/widget.css" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' * data: 'unsafe-inline'">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <main class="main">
    <div class="grid">
      <div class="grid__column grid__column--is-twelve-columns">
        <div id="container" class="initial-view">
          <div class="loading-indicator">Loading</div>
          <div class="params"></div>
          <div class="spinner"><img src="images/Reload-1s-200px.svg"></div>
          <div class="error"><div id="error_message">An error occurred.</div></div>
        </div>
      </div>
    </div>
  </main>

  <!-- <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script type="text/javascript" src="https://js.zohostatic.com/creator/widgets/version/1.0/widgetsdk-min.js"></script>
  <script src="js/plaid_zoho_creator.js"></script>
  <script>

  </script>
</body>

</html>